
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #F4F4F4;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  overflow-y: auto;
  background-color: #F4F4F4;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 200px;
  height: 80px;
  margin-top: 60px;
}

#header .profile h1 {
  font-size: 18px;
  margin: 20px 0px;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
.nav-menu li i{
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  text-align: center;
  padding-left: 6px;
  
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;

}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  border-radius: 10px;
  margin: 10px auto;
}

.nav-menu a{
  display: flex;
  align-items: center;
  padding: 10px 100px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;

}
.nav-menu a{
  color: #2e2e2e;
  
}
.nav-menu a span{
  font-size: 16px;
}

.nav-menu a.active {
  background-color: rgb(255, 255, 255); 
  font-weight: 600;
  border-radius: 5px;
  color: #ec4c24;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-button {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 4px 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  margin-right: 10px;
}

.search-icon {
  margin-right: 8px;
  font-size: 16px;
}

.search-placeholder {
  opacity: 0.7;
}


/* .nav-menu >ul>li>a:Hover {
  background-color: rgba(255, 255, 255, 0.206); 
  color: #f9f9f9;
  border-radius: 5px;
} */
@media (max-width: 768px) {
  #header .profile img {
  margin-top:50px;
  margin-bottom: -30px;
 
  }
 }


/* Mobile Navigation */
.mobile-nav-toggle {

  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #4f5152;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Container Section
--------------------------------------------------------------*/

#main {
  margin-left: 300px;
  margin-top: 30px;
}

.container{
  padding-left: 50px;
  padding-right: 50px;

  
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.row {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
}
.column {
  width: 20%; 
  padding:15px 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.box {
  position: relative;
  margin: 20px 50px; 
  border-radius: 10px;
  background-size: cover;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 15px;
}
.box h5 {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  color: #2e2e2e;

}
.box p {
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  color: #2e2e2e;
}
.box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .column {
    width: 100%; 

  }
  .box {
    margin: 20px 0px ;
    border-radius: 10px;
    background-size: cover;
    height: 100px; 
    width: 70%;
    margin-bottom: 15px; 
    margin: 20px auto;

  }
}

.Recent-issue{
  margin-top: 50px;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}
.date-separator {
  padding: 8px;
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
  border-radius: 5px;
  color: #333;
}
.movement-item {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.movement-item:last-child {
  border-bottom: none;
}
.name {
  font-weight: bold;
}
.time {
  color: #777;
}

.date-container {
  display: flex;
  text-align: right;
  font-size: 14px;
  color: rgb(227, 88, 33);
}

.btn{
  background-color:rgb(227, 88, 33) ;
  color: white;
}

.dropdown-toggle {
  padding: 6px 20px;
  background-color: #fff;
  color:#8A8A8A;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  margin-right: 5px;
}
.dropdown-menu {
  min-width: 200px;
}
.dropdown-item {
  font-size: 16px;
}
.dropdown-item:hover {
  background-color: #d6591f;
  cursor: pointer;
  color: #f8f9fa;
}
.download{
  margin-top: 5%;
}

/* --- Pagination Section --- */
.pagination-container {
  margin-top: 20px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  align-items: center;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: rgb(20, 20, 20) ;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  border: none;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border: none;
  background-color: transparent;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: rgb(227, 88, 33) ;
  border: none;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  border: none;
  background-color: transparent;
}

.page-link:hover {
  background-color: #f8f9fa;
}

.page-item.active .page-link:hover {
  background-color: #ff8800;
}

.movement-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

 button[type="button"]:hover{
  background-color: rgb(227, 88, 33) ;
  color: whitesmoke;

}
/* Dialog Box Section */
.modal-content {
  border-radius: 10px;
}
.modal-content h5{
  font-weight: 900;
  color:#d6591f
}
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-footer {
  border-top: none;
}

.form-control {
  padding: 10px 15px;
  border-radius: 8px;
}

.btn-add {
  background-color: rgb(227, 88, 33) ;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

