 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
Admin-Login  </title>
  <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link id="pagestyle" href="../assets/css/SignIn.css?v=1.1.0" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body class="">

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="">
              <div class="card col-xl-8 card-plain mt-8 mx-auto" style= "background-color:rgb(245, 245, 245);border-radius: 5px;">
                <img src="../assets/img/logo.png" style="width: 200px; height: auto; display: block; margin: auto;">
               <div class="col-xl-6 col-lg-5 col-md-6 d-flex flex-column mx-auto" 
               >
                <div class="card-body" >
                  <form role="form">
                    <label></label>
                    <div class="mb-3 position-relative">
                      <i class="fas fa-envelope position-absolute" style="top: 50%; left: 20px; transform: translateY(-50%); color: rgb(255, 119, 16);"></i>
                      <input type="email" class="form-control ps-5" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                    </div>
                    
                    <label></label>
                    <div class="mb-3 position-relative">
                      <i class="fas fa-lock position-absolute " style="top: 50%; left: 20px; transform: translateY(-50%);color: rgb(255, 119, 16);"></i>
                      <input type="password" class="form-control ps-5" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                    </div>
                    <div class="text-center">
                      <a type="button" class="btn w-100 mt-4 mb-0" style="background-color: rgb(255, 119, 16);color: white;" href="Dashboard.html">Sign in</a>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                  Don't remember Your Password?  <a href="OTP.html" class="font-weight-bold" style="color: green;">Forgot Password</a>
                  </p>
                </div>
               </div>
                
              </div>
            </div>
         
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
<script src="../assets/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
</body>

</html>